* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c4b5fd;
    font-family: 'Roboto', sans-serif;
}
/* temporary borders */
.header-sec {
    border: 2px solid hotpink;
}

.main-content {
    border: 2px solid maroon;
}

/* overall  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 5px;
    padding: 0;
}

/* section 1 header */
.header-grid {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.header-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

/* section 2 sidebar */
.sidebar-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(46,16,101,0.62);
    -moz-box-shadow: 3px 3px 4px 0px rgba(46,16,101,0.62);
    box-shadow: 3px 3px 4px 0px rgba(46,16,101,0.62);
}
.sidebar-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sidebar {
    display: grid;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
}

.sidebar-item {
    padding: 10px;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    transition: font-size 0.3s ease;
}

p.dash-head {
    font-size: 30px;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

p.dash-head:hover {
    font-size: 35px;
}

.board-icon {
    width: 30px;
    height: 30px;
    transition: width 0.3s ease, height 0.3s ease;
}

.board-icon:hover {
    width: 35px;
    height: 35px;
}

img.dash-icon {
    width: 20px;
    height: 20px;
    transition: width 0.3s ease, height 0.3s ease;
}

img.dash-icon:hover {
    width: 30px;
    height: 30px;

}

.sidebar-item:hover{
    color: #7c3aed;
    font-size: 25px;
    cursor: pointer;
}



/* section 3 main content */
.main-grid{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    justify-content: space-around;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
   
}

/* footer */
footer {
    background-color: #2e1065;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

footer a:hover {
    color: #c4b5fd;
    text-decoration: underline;
}