* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c4b5fd;
    font-family: 'Roboto', sans-serif;
}

/* overall  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 5px;
    padding: 0;
}

/* section 1 header */
.header-grid {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(46,16,101,0.62);
    -moz-box-shadow: 0px 2px 2px 0px rgba(46,16,101,0.62);
    box-shadow: 0px 2px 2px 0px rgba(46,16,101,0.62);
}

.header-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.search-sec {
    display: flex;
    align-items: center;
    margin: 20px 30px 30px 20px;
}
.search-sec input{
    flex: 1;
    border-radius: 10px;
    border: none;
    background-color: #ede9fe;
    padding: 5px;
    font-size: 16px;
}
.search-sec input:focus {
    outline: none;
}
img.searchIcon {
    width: 23px;
    height: 23px;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
}
img.searchIcon:hover {
    width: 28px;
    height: 28px;
}
.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    align-content: center;
    gap: 5px;
}
button.btn {
    border: none;
    background-color: #2e1065;
    color: #fff;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 25px;
}
button.btn:hover {
    background-color: #7c3aed;
}
img.md-userIcon {
    width: 70px;
    height: 70px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    vertical-align: middle;
}
.user-under {
    display: grid;
    grid-template-columns: 40px auto 1fr;
    grid-template-rows: auto auto;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}
.user-under .lg-text {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 5px;
    grid-column: 3 / 4;
    line-height: .9;
    font-family: 'Shadows Into Light', cursive;
    grid-row: 2 / 3;
}
.user-under .sm-text {
    font-size: 15px;
    margin-left: 5px;
    grid-column: 3 / 4;
    grid-row: 1/ 3;
}
.user-topRight {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-left: 250px;
}
.user-topRight p {
    font-size: 20px;
    grid-column: 3 / span 1;
}
img.headerIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    grid-column: 1 / span 1;
    transition: width 0.3s ease, height 0.3s ease;
}
img.headerIcon:hover {
    width: 30px;
    height: 30px;
}
img.sm-userIcon {
    width: 50px;
    height: 50px;
    grid-column: 2 / span 1;
}



/* section 2 sidebar */
.sidebar-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(46,16,101,0.62);
    -moz-box-shadow: 3px 3px 4px 0px rgba(46,16,101,0.62);
    box-shadow: 3px 3px 4px 0px rgba(46,16,101,0.62);
}
.sidebar-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sidebar {
    display: grid;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.sidebar-item {
    padding: 10px;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    transition: font-size 0.3s ease;
}

p.dash-head {
    font-size: 30px;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

p.dash-head:hover {
    font-size: 35px;
}

.board-icon {
    width: 30px;
    height: 30px;
    transition: width 0.3s ease, height 0.3s ease;
}

.board-icon:hover {
    width: 35px;
    height: 35px;
}

img.dash-icon {
    width: 20px;
    height: 20px;
    transition: width 0.3s ease, height 0.3s ease;
}

img.dash-icon:hover {
    width: 30px;
    height: 30px;

}

.sidebar-item:hover{
    color: #7c3aed;
    font-size: 25px;
    cursor: pointer;
}

/* section 3 main content */
.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}
.project-title, .ann-title, .fakeuser {
    font-size: 15px;
    font-weight: bold;
}
.project-text, .ann-text, .faketext {
    font-size: 13px;
    font-weight: lighter;
    line-height: 1.2;
}
.trendIcon {
    width: 45px;
    height: 45px;
    grid-row: span 2;
    margin: 5px;
}
.first-para {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
  line-height: 1.2;
}

.second-para {
  grid-column: 2 / -1;
  grid-row: 3 / 5;
  line-height: 1.2;
}

.third-para {
  grid-column: 2 / -1;
  grid-row: 5 / 7;
  line-height: 1.2;
}

.fourth-para {
  grid-column: 2 / -1;
  grid-row: 7 / 9;
  line-height: 1.2;
}
.trend-title {
    font-size: 18px;
    font-weight: bold;
}
.mainCon-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.project-title {
    margin-left: 40px;

 }
.project {
    padding: 20px;
    background-color: #ede9fe;
}
.ann-title {
    padding-top: 15px;
}
.ann-text {
    padding-bottom: 15px;
}
.project-title {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0;
    margin-left: 0;
}
.project-text {
    grid-column: 1;
    grid-row: 2;
}
.project-icons {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: end;
    justify-content: end;
}
.box {
    display: grid;
    grid-template-columns: 1fr .4fr;
    grid-template-rows: auto auto;
    gap: 10px;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
    -webkit-box-shadow: -10px 2px 1px 0px rgba(46,16,101,0.62);
    -moz-box-shadow: -10px 2px 1px 0px rgba(46,16,101,0.62);
    box-shadow: -10px 2px 1px 0px rgba(46,16,101,0.62);
    position: relative;
    transition: transform 0.3s ease;
}
.box:hover {
  transform: translateY(-10px);
}
img.boxIcon {
    width: 20px;
    height: 20px;
}
.announce {
    padding: 20px;
    margin: 15px;
    margin-left: 0;
    background-color: #ede9fe;
    border-radius: 10px;
   -webkit-box-shadow: -5px -3px 4px 0px rgba(46,16,101,0.62);
    -moz-box-shadow: -5px -3px 4px 0px rgba(46,16,101,0.62);
    box-shadow: -5px -3px 4px 0px rgba(46,16,101,0.62);
}
.trending {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(8, auto);
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    background-color: #ede9fe;
    border-radius: 10px;
    -webkit-box-shadow: -5px -3px 4px 0px rgba(46,16,101,0.62);
    -moz-box-shadow: -5px -3px 4px 0px rgba(46,16,101,0.62);
    box-shadow: -5px -3px 4px 0px rgba(46,16,101,0.62);
}
.first-col {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.second-col {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-top: 40px;
}
.third-col {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

/* footer */
footer {
    background-color: #2e1065;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

footer a:hover {
    color: #c4b5fd;
    text-decoration: underline;
}

