* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* temporary borders */
.header-sec {
    border: 2px solid hotpink;
}
.sidebar-sec {
    border: 2px solid slateblue;
}
.main-content {
    border: 2px solid maroon;
}

/* overall  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-gap: 10px;
    padding: 10px;
}


/* footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}